button, input
        {
            height: 30px;
            width: 120px;

            font-weight: bold;

            margin: 10px !important;

            border: 4px solid;
            background-color: $colorGray;
            border-color: $colorGrayDark;

            transition: all 0.2s ease-in-out;
        }
.b-transparent
{
    background-color: $colorTransparent;
}
.b-red
{
    color: $colorWhite;
    background-color: $colorRed;
    border-color: $colorRedDark;
}
.b-green
{
    color: $colorWhite;
    background-color: $colorGreen;
    border-color: $colorGreenDark;
}

.b-gray
{
    color: $colorWhite;
    background-color: $colorGray;
    border-color: $colorGrayDark;
}