#content
{
    text-align: center;
    h1
    {
        font-size: 2em;
    }
    p
    {
        font-size: 1.2em;
    }
    .logreg-form
    {   
        top: -40%;
        opacity: 0;

        //display: block;
        //width: 40vh;
    
        //left: 50%;
        //margin-right: -50%;
        //transform: translate(-50%, -50%);
    
        position: relative;
    }
    #description
    {
        margin:
        {
            top: 10vmin;
            bottom: 10vh;
        }
    }
}