#content
{
    text-align: center;
    h1
    {
        font-size: 2em;
    }
    p
    {
        font-size: 1.2em;
    }
    #description
    {
        margin:
        {
            top: 10vmin;
            bottom: 10vh;
        }
    }
}