$colorDark: #242839;
$colorGray: #44444B;
$colorGrayDark: #414147;
$colorGrayLight: #DEE2E6;
$colorWhite: #f2f2f2;

$colorBlue: #2368a2;
$colorRed: #FF4A56;
$colorRedDark: #eb3d49;
$colorGreen: #2A9D44;
$colorGreenDark: #25943e;

$colorTransparent: rgba(255,255,255, 0);