@import "variables";
@import "base";
nav
{
	height: 50px;
	background-color: $colorDark;
}

#n-left
{
    width: 300px;
    float: left;
}

#n-right
{
    width: calc(100vw - 300px);
    float: right;
}

.dark-input
{
    color: $colorWhite;
}

#search-select
{
    height: 30px;
    
    color: $colorWhite;
    background-color: $colorGrayDark;

    border: none;
    appearance: none;
}

#logout-button
{
	float: right;
    margin: 5px 20px 0 0;
}

/*   ---   */

#login-button-canvas
{
	width: calc(2vh*10vw);
    left: 32%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
}

#register-button-canvas
{
		width: calc(2vh*10vw);
    right: 40%;
    margin-right: -30%;
    transform: translate(-50%, -50%);
}

#arrow-down-button
{
    display: block;

		position: absolute;
    top: 80%;

    text-decoration: none;
    color: black;

    left: 48%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    animation: 1.2s infinite ease alternate bobbing;
}

.basic-button
{
	display: block;

	position: absolute;
    top: 40%;

    text-decoration: none;
    color: black;
    font-size: 3vw;
}

.btn-quit
{
    width: 2vw;
    height: 2vw;
    padding: 0 2vw 2vw 0;

    background-color: rgba(255,255,255, 0);
    border: none;

    cursor: pointer;

    transition: .2s all ease-in-out;
}

.btn-quit:hover
{
    color: rgba(0,0,0, .4);
}

/*dashboard
*/

.mod-buttons
{
	height: 5vh;
	width: 15vh;

	font-size: 2vh;
	padding: 1vh;

	margin: 1vh 0 0 1vh;
	border-radius: 0;
}

#show-books
{

		border-color: #268b3d;

		background-color: #2a9d44;
}


/*  Forms  */

.logreg-form
{
    display: block;
    width: 40vh;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

		position: absolute;
    top: -40%;

    opacity: 0;
}

/*  Animations  */

@keyframes bobbing
{
    from { transform: translate(0px, 0px); }
    to { transform: translate(0px, 30px); }
}

/*   Tables   */

tr
{
    transition: 0.2s all ease-in-out;
}

tr:hover
{
    cursor: pointer;
    background-color: rgb(225,225,225);
}

th
{
    transition: 0.1s all ease-in-out;
}

th:hover
{
    cursor: pointer;
    background-color: rgb(190,190,190);
}

.title
{
    width: 20%;
}
.a_name
{
    width: 15%;
}
.pages
{
    width: 5%;
}
.g_name
{
    width: 10%;
}
.completion
{
    width: 15%;
}
.rating
{
    width: 10%;
}
.description
{
    width: 25%;
}

#add-author-button
{
		transition: .2s all ease-in-out;
}

#add-author-button:hover
{
		cursor: pointer;
}

#add-genre-button:hover
{
		cursor: pointer;
}

/*   Spans   */

#hello-span
{
		display: block;

		float: left;

		color: white;

		font-size: 16px;

		padding: 1.5vh;
}

#search-div
{
		width: 300px;

		margin: 10px 20px 10px 0;
}

/*   Images   */

#book-logo
{
		height: 30px;
		margin: 10px 0 10px 20px;

		float: left;
}
